FORM{% extends 'components/base.html' %}
{% block content %}
{% load static %}

<title>{% block title %} {{ title }} {% endblock title %}</title>

<section class="dark:bg-principal py-20">
    <div class="container mx-auto p-4" data-aos="fade-up" data-aos-delay="300">
        <!-- Cinta de navegación -->
        <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="{% url 'core:product_price_list' %}" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Consulta de Precios de Productos</a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-blue-700 md:ms-2 dark:text-blue-600">Actualizar Precios de Productos</span>
                    </div>
                </li>
            </ol>
        </nav>
        
        <div class="sm:pt-28 lg:pt-4">
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                {{ title }}
            </h1>
            <p class="dark:text-gray-300 text-lg text-center mt-2">Complete el formulario para actualizar los precios de los productos.</p>
        </div>
        
        <div class="grid gap-8 mx-4" data-aos="fade-up">
            <form id="frmSale" method="POST" class="space-y-6">
                {% csrf_token %}
                {{ form.media }}
                <!-- Campos del formulario -->
                <div class="bg-gray-50 dark:bg-secundario rounded-3xl p-6">
                    <div class="grid grid-cols-3 gap-6 items-center justify-center text-center space-y-2">
                        <div class="">
                            <label for="{{ form.product.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.product.label }}</label>
                            <select name="{{ form.product.name }}" id="{{ form.product.id_for_label }}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                                <option value="" disabled selected>Seleccione un producto</option>
                                {% for product in form.product.field.queryset %}
                                <option value="{{ product.id }}" data-line="{{ product.line.id }}" data-price="{{ product.price }}" data-category="{{ product.get_categories }}">{{ product.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="">
                            <label for="{{ form.line.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.line.label }}</label>
                            <select name="{{ form.line.description }}" id="{{ form.line.id_for_label }}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                                <option value="" disabled selected>Seleccione una línea</option>
                                {% for line in form.line.field.queryset %}
                                <option value="{{ line.id }}">{{ line.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="">
                            <label for="{{ form.issue_date.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.issue_date.label }}</label>
                            {{ form.issue_date }}
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-6 items-center justify-center text-center space-y-2">
                        <div class="">
                            <label for="{{ form.type_increment.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.type_increment.label }}</label>
                            {{ form.type_increment }}
                        </div>
                        <div class="">
                            <label for="{{ form.value.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.value.label }}</label>
                            {{ form.value }}
                        </div>
                        <div class="">
                            <label for="{{ form.observation.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.observation.label }}</label>
                            {{ form.observation }}
                        </div>
                    </div>
                    <!-- Botón Generar -->
                    <div class="flex justify-center mt-6">
                        <button id="generateBtn" type="button" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full">
                            <i class="fa-solid fa-gear mr-2"></i>Generar
                        </button>
                    </div>
                </div>
                    <!-- Tabla de Detalles de Precio -->
                    <div class="overflow-x-auto mt-8">
                        <div class="border-b border-blue-400 dark:text-white text-2xl text-center mb-4 font-Pacifico">
                            Detalles de Precio
                        </div>
                        <table id="detailsTable" class="w-full text-center text-lg">
                            <thead class="uppercase font-Tiny5 bg-gray-50 dark:bg-secundario dark:text-blue-300">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Id</th>
                                    <th scope="col" class="px-6 py-3">Producto</th>
                                    <th scope="col" class="px-6 py-3">Linea</th>
                                    <th scope="col" class="px-6 py-3">Categoria</th>
                                    <th scope="col" class="px-6 py-3">Incremento</th>
                                    <th scope="col" class="px-6 py-3">Precio Viejo</th>
                                    <th scope="col" class="px-6 py-3">Nuevo Precio</th>
                                    <th scope="col" class="px-6 py-3">Fecha de Emisión</th>
                                    <th scope="col" class="px-6 py-3">Observaciones</th>
                                    <th scope="col" class="px-6 py-3">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                </div>
                <!-- Botones de acción -->
                <div class="flex justify-center mt-6 space-x-2">
                    <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full">
                        <i class="fa-solid fa-save mr-2"></i>Guardar
                    </button>
                    <a class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full" href="{% url 'core:product_price_list' %}">
                        <i class="fa-solid fa-xmark mr-2"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const productSelect = document.getElementById('{{ form.product.id_for_label }}');
    const lineSelect = document.getElementById('{{ form.line.id_for_label }}');
    const typeIncrementSelect = document.getElementById('{{ form.type_increment.id_for_label }}');
    const valueInput = document.getElementById('{{ form.value.id_for_label }}');
    const issueDateInput = document.getElementById('{{ form.issue_date.id_for_label }}');
    const observationInput = document.getElementById('{{ form.observation.id_for_label }}');
    const generateBtn = document.getElementById('generateBtn');
    const detailsTable = document.getElementById('detailsTable').getElementsByTagName('tbody')[0];
    const form = document.querySelector('form');

    let productData = null;

    productSelect.addEventListener('change', function() {
        const selectedOption = this.options[this.selectedIndex];
        productData = {
            id: this.value,
            description: selectedOption.text,
            line: selectedOption.dataset.line,
            price: selectedOption.dataset.price,
            category: selectedOption.dataset.category
        };

        lineSelect.value = productData.line;
        productData.lineName = lineSelect.options[lineSelect.selectedIndex].text;  // Actualizar el nombre de la línea
    });

    generateBtn.addEventListener('click', function(e) {
        e.preventDefault();
        if (!productData) {
            alert('Por favor, seleccione un producto válido.');
            return;
        }

        if (productData.line != lineSelect.value) {
            alert('El producto seleccionado no pertenece a la línea seleccionada.');
            return;
        }

        const increment = parseFloat(valueInput.value);
        const oldPrice = parseFloat(productData.price);
        let newPrice;

        if (typeIncrementSelect.value === 'P') {
            newPrice = oldPrice * (1 + increment / 100);
        } else {
            newPrice = oldPrice + increment;
        }

        const newRow = detailsTable.insertRow();
        newRow.innerHTML = `
            <td>${productData.id}</td>
            <td>${productData.description}</td>
            <td>${productData.lineName}</td>
            <td>${productData.category}</td>
            <td>${increment.toFixed(2)}</td>
            <td>${oldPrice.toFixed(2)}</td>
            <td>${newPrice.toFixed(2)}</td>
            <td>${issueDateInput.value}</td>
            <td>${observationInput.value}</td>
            <td>
                <button type="button" class="delete-btn" onclick="deleteRow(this)">
                    <i class="fa-solid fa-trash text-red-500"></i>
                </button>
            </td>
        `;
    });

    window.deleteRow = function(button) {
        const row = button.parentElement.parentElement;
        row.parentElement.removeChild(row);
    }

    form.addEventListener('submit', function(e) {
        e.preventDefault();

        const formData = new FormData();
        const rows = document.querySelectorAll('#detailsTable tbody tr');
        const productPrices = [];

        rows.forEach(row => {
            const cells = row.getElementsByTagName('td');
            productPrices.push({
                product_id: cells[0].textContent,
                type_increment: cells[4].textContent.includes('%') ? 'P' : 'V',
                value: parseFloat(cells[4].textContent),
                issue_date: cells[7].textContent,
                observation: cells[8].textContent
            });
        });

        formData.append('product_prices', JSON.stringify(productPrices));

        fetch('{% url "core:product_price_create" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.href = data.redirect_url;
            } else {
                console.error('Error:', data.error);
                alert('Hubo un error al guardar los datos. Por favor, intente de nuevo.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Hubo un error en la comunicación con el servidor. Por favor, intente de nuevo.');
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});

</script>
{% endblock %}