{% extends 'components/base.html' %}
{% load i18n %}
{% block content %}
<br>
<br>
<br>
<div class="container mx-auto mt-5 px-4 sm:px-6 lg:px-8">
            <!-- Cinta de navegación -->
            <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                    <svg class="rtl:rotate-180 block w-3 h-3 mx-1 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <a href="http://127.0.0.1:8000/core/generate-qr-page/1/" class="ms-1 text-sm font-medium text-blue-700 hover:text-blue-600 md:ms-2 dark:text-blue-600 dark:hover:text-white">Generar QR</a>
                    </div>
                </li>
                </ol>
            </nav>
            <br>
    <h1 class="text-lg sm:text-xl md:text-2xl font-bold mb-5 text-gray-900 dark:text-gray-100 text-center">
        {% trans "Generar QR de inicio de sesión para" %} {{ user.username }}
    </h1>
    <div id="qrcode" class="mb-5 flex justify-center"></div>
    <div class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4">
        <a id="downloadQR" href="#" download="qr_code.png" class="hidden bg-green-500 hover:bg-green-600 active:bg-green-700 focus:outline-none focus:ring focus:ring-green-300 text-white font-bold py-2 px-6 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
            {% trans "Descargar QR" %}
        </a>
        <button id="generateQR" class="bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 text-white font-bold py-2 px-6 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105">
            {% trans "Generar QR" %}
        </button>
    </div>
</div>

<!-- Incluyendo la biblioteca QRCode -->
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('generateQR').addEventListener('click', function() {
            console.log('Generate QR button clicked');
            fetch('{% url "core:generate_login_qr" user.id %}')
                .then(response => {
                    console.log('Response status:', response.status);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('QR Data received:', data);
                    if (data.qr_data) {
                        const qrData = JSON.stringify(data.qr_data);
                        console.log('QR data to be encoded:', qrData);
                        const qrcodeDiv = document.getElementById('qrcode');
                        qrcodeDiv.innerHTML = '';
                        QRCode.toDataURL(qrData, {
                            errorCorrectionLevel: 'H',
                            margin: 1,
                            width: 256,
                            height: 256
                        }, function (error, url) {
                            if (error) {
                                console.error('Error generating QR code:', error);
                            } else {
                                console.log('QR code successfully created.');
                                const img = document.createElement('img');
                                img.src = url;
                                qrcodeDiv.appendChild(img);
                                
                                const downloadLink = document.getElementById('downloadQR');
                                downloadLink.href = url;
                                downloadLink.classList.remove('hidden');
                                console.log('QR Code generated and download link set.');
                            }
                        });
                    } else {
                        console.error('QR data is missing:', data);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('{% trans "Hubo un error al generar el código QR. Por favor, intente de nuevo." %}');
                });
        });
    });
</script>

{% endblock %}
